[2019-08-03 16:20] Carnaux opened #1 "Expected identifier in jmorecfg.h"
[code]

[2019-08-03 17:19] kalwalt commented on #1
Hi @Carnaux can you share your build emcc command maybe this error dipend on how you linked and added the includes, to build with node.js the jsartoolkit5 lib this is my setup:

[code]
https://github.com/kalwalt/jsartoolkit5/blob/master/tools/makem.js

i hope that this can help you!

[2019-08-03 20:16] Carnaux commented on #1
I copied the folders with the headers and sources and i'm using just the necessary to build the genTexData.c and replaced the jpeglib.h with the one from https://github.com/LuaDist/libjpeg/blob/master/jpeglib.h, and now i'm getting "undefined symbol" with the functions from jpeglib, for example the `jpeg_stdio_dest`, i think it is a linking error.

[2019-08-03 21:38] kalwalt commented on #1
I think you should use the jpeg-6b version from http://libjpeg.sourceforge.net/

[2019-08-06 19:24] Carnaux commented on #1
@kalwalt i can't get it to work, can you try it? The assemble.c is in the dev branch, the source codes for building are in the artoolkit master, in the folders include and lib.

[2019-08-06 21:21] kalwalt commented on #1
i will try it :smile:

[2019-08-07 19:30] kalwalt commented on #1
I' m working on it, i think maybe tomorrow i have something to show to you... :smile:

[2019-08-08 16:37] kalwalt commented on #1
I had a failure of my hard disk, i had to re-install my system and i lost my work on `NFT-marker-Creator` :sob:  I have ot re-done everything. But note this libjpeg version is important, there are small changes in the different versions, I collect the file i used in this repo: https://github.com/kalwalt/libjpeg-for-jsartoolkit5
also other important thing to use the artoolkit5 from https://github.c

[2019-08-08 17:35] Carnaux commented on #1
😭😭😭😭

Thanks for your help, i will do some tests!!

[2019-08-10 04:31] #1 closed

[2019-08-10 17:15] Carnaux opened #4 "Python related error"
stderr: cache:INFO: generating port: libz.a... (this will be cached in "C:\Users\Daniel\.emscripten_cache\asmjs\libz.a" for subsequent builds)
Traceback (most recent call last):
  File "C:\Users\Daniel\Desktop\webAssembly\emsdk\emscripten\1.38.29\emcc.py", line 3262, in <module>
    sys.exit(run(sys.argv))
  File "C:\Users\Daniel\Desktop\webAssembly\emsdk\emscripten\1.38.29\emcc.py", line 1641, in

[2019-08-10 17:45] Carnaux commented on #4
Maybe bit version error. Compiling app to 32bit using 64bit python

[2019-08-10 18:11] kalwalt commented on #4
Which emscripten are you using? How did you install emscripten? Maybe you can try to update emscripten https://emscripten.org/docs/getting_started/downloads.html#updating-the-sdk
and maybe trying to clear the emmc cache with `emcc --clear-cache` as explained here: https://emscripten.org/docs/tools_reference/emcc.html

[2019-08-12 01:27] Carnaux commented on #4
I update emscripten, but still another error. We need a third person, maybe is my setup. Tomorrow i will reinstall everything.

[2019-08-12 03:51] Carnaux commented on #4
Yeaah!! It works!! I can build and receive data from the .iset file created in the MEMFS!!! @kalwalt can you test the new file?

[2019-08-12 03:54] #4 closed

[2019-08-12 06:23] kalwalt commented on #4
Yeaahh! 🎉🚀💯💥🌈 I am Happy for you! How did you solve It? What was causing the issue? I Will test the new code this afternoon...😊

[2019-08-12 14:42] kalwalt commented on #4
It works for me! We can rename the `tools/makemWin.js` to `tools/makem.js` and so deleting the old one, i will make a little PR for this.

[2019-08-12 15:20] kalwalt commented on #4
i made this PR https://github.com/Carnaux/NFT-Marker-Creator/pull/5

[2019-08-12 17:35] Carnaux commented on #4
I updated my emscripten and changed some cmd lines. In windows these flags are unused. And i also removed all wildcard `*`.
[code]

[2019-09-23 21:14] kalwalt opened #6 "About jpeg and future development of NFT marker creator"
We continue here the discussion started on my PR for NFT https://github.com/kalwalt/jsartoolkit5/pull/2#issuecomment-534261520
@Carnaux  we can leave here our thoughts and solutions for the problem.

[2019-09-23 21:42] Carnaux commented on #6
To generate the marker files is needed some information about the image:

 - Jpeg image
    - UInt8 Pixel Color Array
    - DPI
    - Width & Height
    - Number of Channels

The function "readImageFromFile" get all the information and set a struct and then other functions can generate the marker files.

Using an HTML input gives only the Uint8 array, the width, and height. I tried setting a place

[2019-09-24 21:23] kalwalt commented on #6
Thank you @Carnaux i will look into it when i have a bit of time.

[2019-10-26 22:39] Carnaux opened #8 "Use of EXIF-JS and errors"
Using the code to read jpeg headers from https://github.com/exif-js/exif-js is possible to get all properties listed in #6.

Problems detected:

1. Not all jpg can be read by the library, so it is needed to create default values for them.
2. The ones that can be read, give the error "Empty JPEG image (DNL not supported)"  during the creation of the .iset file.

Maybe related with 2:
 https://stack

[2019-10-27 06:53] Carnaux commented on #8
Possible fix: https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/structure.txt

[2019-11-04 12:32] samsgates commented on #8
same issue :

![image](https://user-images.githubusercontent.com/4558944/68121197-27ed8700-ff2d-11e9-9f11-f2bd6f661210.png)

let me know how to proceed further

[2019-11-16 14:51] Carnaux commented on #6
@ThorstenBux Can you help me understand better the marker generation?

[2019-11-17 19:10] ThorstenBux commented on #6
I can try :). What are your questions?

[2019-11-18 00:13] #8 closed

[2019-11-18 00:30] nicolocarpignoli commented on #8
Is this fixed? 😁

[2019-11-18 00:37] Carnaux commented on #6
I solved most of my questions working today :smiley:, I'm generating the iset and fset files, but they don't work, they have drastically different file size than the generated by the genTexData.exe.

[2019-11-18 07:57] nicolocarpignoli commented on #6
well, that's a great progress :) good luck, as soon as I will have time I will help you

[2019-11-19 17:48] kalwalt commented on #6
That really strange @Carnaux  but as said Nicolo a great progress!

[2019-11-30 23:45] Carnaux commented on #6
Just to document one of my attempts:

I tried to execute the genTexData.exe directly in node.js. If you don't pass a file as parameter the expected error message appears, so it runs and does "console.log", but when I pass the path for the file it won't show any sign that it is running.

What the current code can do:
- Execute the genTexData.exe
- Get image via input( It is possible to get a tempor

[2019-12-02 13:23] nicolocarpignoli commented on #6
@Carnaux  I think that if you can come up with specific questions and maybe an online example to try (not mandatory) you can ask to Thorsten. He's very will to help. Just come up with some questions here and I will see to make it happen.

[2019-12-04 08:13] Carnaux commented on #6
Good news!! I found what is making the files with the incorrect content. It is this snippet:

[code]
But I have no idea why. When the `dpiMax` is 220, the `dpi_num` should be 19, in the next part of the code, it uses `dpi_num` as control, and it works fine, but when i try to console.log it, it shows as 0.

[2019-12-07 21:28] Carnaux commented on #6
Update: I posted about an error dpi_num, but it was a typo error, and it was solved.

I think I figured out what was the deal. The way I was passing the pixel data as a parameter was wrong, solving that made the generation almost equal to the genTexData.exe, all logs are being shown, and all generation steps are seen to be working. But I noticed that the files still different sizes so they don't w

[2019-12-08 08:41] kalwalt commented on #6
I will look at for the ARUint8 issue.
25 minutes It Is a huge time...

[2019-12-08 18:32] Carnaux commented on #6
I developed a node app too, that uses the same markerCreator.min.js as the browser version(the current one), just to test generation times.

###The results:
genTexData.exe: 3 min
Node app: 13 min
Browser version: 25 min

### Some differences:
#### genTexData.exe:
<img src="https://user-images.githubusercontent.com/20483373/70393847-74fdc680-19cd-11ea-8a4e-835330fb4a18.png" width="300" height="auto

[2019-12-09 08:15] nicolocarpignoli commented on #6
Having wrong/few features could be the cause for the non-recognisation on Web.

[2019-12-09 14:56] AnastasiiaaaaM opened #9 "I build a js file. What's next?"
Greetings! Could you please help me?

I managed to build NftMarkerCreator.min.js, libar.bc and libjpeg.bc files using my Mac.
What's next? How can I convert JPEG images?

Thanks in advance!

[2019-12-10 09:36] #9 closed

[2019-12-10 10:47] nicolocarpignoli commented on #6
@Carnaux

I think that our 'first' aim was to make it work with Web technologies, but maybe this computation is too heavy for the browser.
In my opinion, it will be great to make it work on node, for example. It will be JS code and runnable on EVERY machine, windows or linux or mac.
So it will be a great improvement from current state-of-the-art, that works only on windows.

I think we have to foc

[2019-12-10 10:47] nicolocarpignoli commented on #6
If you agree with me, you can focus your efforts on experiments/debug with node version only, like you did on your last post

[2019-12-10 13:08] kalwalt commented on #9
@AnastasiiaaaaM this app is in an experimental phase/step if you want create your own NFT markers follow these instructions https://github.com/artoolkitx/artoolkitx/wiki/Creating-and-using-NFT-markers

[2019-12-10 13:12] nicolocarpignoli commented on #9
@kalwalt only works on windows right now, correct?

[2019-12-10 13:12] kalwalt commented on #6
@Carnaux yes maybe a node version will be also fine and easier to develop. @nicolocarpignoli i can make my own Nft markers also under linux, but you need to build the artoolkitx project and this can be a little cumbersome to insall all the necessary dependencies, so in the scenario of a "normal" user it's a kind of blocking thing, better a lot an alternative app that can run on every OS...

[2019-12-10 13:57] kalwalt commented on #9
no as answered in this [comment](https://github.com/Carnaux/NFT-Marker-Creator/issues/6#issuecomment-564026005) i was able to build the ArtoolkitX project and with the **artoolkitx_genTexData** app to make my NFT marker.  You can do also on Mac but you need to install all dependencies, i have no idea if it is better than doing in linux.... but i think for Windows there are ready binaries,

[2019-12-10 14:01] kalwalt commented on #9
Try to look at http://www.artoolkitx.org/docs/downloads/ or go to the release page https://github.com/artoolkitx/artoolkitx/releases it should be included in the **artoolkitX.for.Windows.v1.0.zip**

[2019-12-10 14:03] kalwalt commented on #9
...and note that genTexData from Artoolkit5 or from ArtoolkitX do the same.

[2019-12-10 14:18] Carnaux commented on #6
Yeah, I agree. I'm building a new node app, and when it is finished I will reorganize the repository with the main app and other branch to the NftMarkerCreator.min.js build.

[2019-12-10 15:56] Carnaux commented on #6
Done, the app is on the master branch, you guys can test it. But I still stuck at the feature extraction, I tested changing the order of the RGB pixel array, but still the same as I said, the node app only logs feature coordinates for low dpi values.

[2019-12-12 13:44] AnastasiiaaaaM opened #10 "TypeError: Cannot read property 'value' of undefined"
Hi there!

I'm getting the error "Cannot read property 'value' of undefined" when running ' node app.js'.

[2019-12-12 14:29] pepperface commented on #10
Me too. Any advice and/or info will be eagerly awaited and very gratefully received when it comes :)

[2019-12-12 14:52] kalwalt commented on #10
Hi @AnastasiiaaaaM @pepperface  i tested right now for me it output the files:

[code]

Maybe a node issue? Which version are you using?
my is:

[code]

[2019-12-12 16:22] Carnaux commented on #10
It looks like it is the EXIF reader, can you copy the log?

[2019-12-12 16:25] kalwalt commented on #10
Are you asking to me? what log?

[2019-12-12 16:33] Carnaux commented on #10
Sorry, to @AnastasiiaaaaM and @pepperface

[2019-12-12 17:54] Carnaux commented on #10
Done, some properties that I was reading may not exist in the EXIF of some images, so it was getting undefined. Now I added user input if it doesn't find those properties, and I added a new dependency, so you need to update yours. Tell me if it works and I will close this issue.

[2019-12-12 20:08] Carnaux commented on #6
Finally!!!! With this last commit, the code works, you now can generate custom NFT Markers!!!! 🎉 Please, test and report any errors or bugs! @kalwalt @nicolocarpignoli

[2019-12-12 20:17] ThorstenBux commented on #6
I've tested and it is running with other jpg files as well. but I can't see any output files .fset .iset that are created. I've deleted the existing ones added a new jpeg to input. It runs with this output
[code]
But does not create output files

[2019-12-12 20:23] Carnaux commented on #6
The process finishes? On my PC it took around 14 min to generate.

[2019-12-12 20:25] ThorstenBux commented on #6
It looks like it gets stuck because of this `does not contain embedded resolution data, and no resolution specified on command-line.`

[2019-12-12 20:33] Carnaux commented on #6
Weird, that log is in a function that should not be called. Can you send me the image that you are using?

[2019-12-12 20:33] ThorstenBux commented on #6
Edited the jpeg now I get
`TypeError: Cannot read property '0' of undefined`

[2019-12-12 20:33] ThorstenBux commented on #6
Sorry that log is out of the c version of the tool :)
I build that and ran it there.

[2019-12-12 20:33] ThorstenBux commented on #6
Image on the way

[2019-12-12 20:34] ThorstenBux commented on #6
https://drive.google.com/file/d/1cs-1n7njiJ4rnnrHTrNjyBolYvqxD58H/view?usp=sharing

[2019-12-12 20:35] ThorstenBux commented on #6
(I hope google doesn't change the file)

[2019-12-12 20:44] ThorstenBux commented on #6
Ok, got it now. The link above: That image fails for some reason I don't understand.
I've reverted back to the previous image and waited longer it does work, it just takes a while.

[2019-12-12 20:50] Carnaux commented on #6
It is the jpeg decoder, I will add this to a to-do list for a future update.

[2019-12-12 21:14] Carnaux commented on #6
One thing I realized: The images I was using for testing were all 1600 < in width and height, so they were big images. Small images are much faster to generate, but I believe that it has few details for the feature extraction.

[2019-12-12 21:28] kalwalt commented on #6
@Carnaux @ThorstenBux I will test now!

[2019-12-12 21:45] kalwalt commented on #6
:tada:  Yesss, it works !! :tada:  see the [log](https://gist.github.com/kalwalt/eb5865b3804a54d93187b931dd8326e2)

[2019-12-12 21:48] kalwalt commented on #6
Tested with this my image https://www.kalwaltart.com/assets/images/uploads/cubist_dragon.jpg i used for my AR made with **Artivive** read this [article](https://www.kalwaltart.com/blog/2019/01/30/artivive-cubist-dragon-my-free-interactive-artwork/)

[2019-12-12 23:32] nicolocarpignoli commented on #6
Hi!

I tried on macbook pro. It finishes in ~10-15seconds but no descriptors generated.
I got those warnings (although they're on stderr, to me they look like errors):

[code]

any idea?

[2019-12-12 23:32] nicolocarpignoli commented on #6
Tried with thorsten image above

[2019-12-12 23:36] nicolocarpignoli commented on #6
which version of emscripten do you have guys?
Mine is 1.38.44

[2019-12-12 23:47] Carnaux commented on #6
I always got those warnings about libjpeg, but it never failed the build 😕

Yes, it is outdated, sorry, I will change it, is just in case your libjpeg folder is in other place.

My version is 1.39.4

[2019-12-12 23:49] nicolocarpignoli commented on #6
the build does not failed actually. I see that the 'output' directory is not present. I have manually created it but does not work either

[2019-12-12 23:50] Carnaux commented on #6
The dev branch just generates the NftMarkerCreator.min.js, to generate the marker itself you have to use the master

[2019-12-12 23:51] nicolocarpignoli commented on #6
Yes, I was just to write it! I didn't understand that!

[2019-12-13 00:02] nicolocarpignoli commented on #6
So the complete flux, as for now, should be:

* checkout on dev
* follow readme (apart from point 4)
* .min.js file is generated
* keep that file
* checkout on master
* replace .min.js with copied one
* run node app.js

I got error with this flow.

[code]

Also, I was able to create .iset files using the Editor.html from dev branch but they did not seem to work.

[2019-12-13 00:11] Carnaux commented on #6
That flow is just if you want to make some changes to the min.js, the master branch is ready to use. I'm making some changes in the dev branch, making it cleaner, the html editor is discontinued.

[2019-12-13 00:41] Carnaux commented on #6
I made the changes in the dev branch, it is cleaner now.

One thing I've been thinking is to merge the .iset, .fset and .fset3 files in just one maybe is more practical? What do you guys think? @kalwalt @ThorstenBux @nicolocarpignoli

[2019-12-13 00:44] #10 closed

[2019-12-13 03:42] jamess922 commented on #6
Hi I tried and it's come out with this
`C:\Users\Cai-TP>node app.js
The EXIF info of this image is empty or it does not exist. Do you want to inform its properties manually?[y/n]`

[2019-12-13 03:52] Carnaux commented on #6
You type "y" and press enter after that will have other dialogs, for Width and Height of the image, and for DPI if you want to inform one(or just press enter, the code will use 72 as default)

[2019-12-13 04:38] jamess922 commented on #6
Thank you It's working ,get the files

[2019-12-13 08:50] nicolocarpignoli commented on #6
it works on master branch! Great!!

As next step I would suggest to automate it even more:

* detect width/height of the image
* detect black&white or colored image (to automatically set NC=1 or NC=3)
* detect DPI

For each of them, if can't retrieve, fallback to a default.

I don't know if this is all possible but should be great.

Anyway, your idea to create a basic HTML page as generator was gr

[2019-12-13 08:51] nicolocarpignoli commented on #6
Next weeks I will be a bit busy to try to port NFT jsartoolkit5 on AR.js but I will always provide support for this, and when I will be more free even 'development' support :)

[2019-12-13 08:56] nicolocarpignoli opened #11 "Some restrictions about input files"
Hi,

My idea is, with this issue, to try to list all input images requirements and known problems.
**Not all of the following have to be fixed: some of them may become requirements, other may be bugs to fix.**

Known requirements/limitations:

- file has to have .jpg extension
- file name has to contain .jpg extension (e.g. on Mac verify that extension is present)
- after resizing the image (e.g.

[2019-12-13 08:57] nicolocarpignoli commented on #11
Also I have found this and put it on jsartoolkit5 repo: https://github.com/kalwalt/jsartoolkit5/blob/fixing-nft/doc/NFT_image_constraints.md

it says:

# NFT Image Constraints

ARToolKit NFT is able to recognize and track natural features of photos and documents, specifically, **planar textured surfaces**. However, to accomplish this, ARToolKit NFT requires that the visual appearance of the surfac

[2019-12-13 13:04] kalwalt commented on #11
Yes this is very important.  Above all the type of image to be tracked is crucial for doing NFT markers.
In particular the second point is very important. We should do some examples: one bad that is diffcult to be recognized, one medium and the Top example which is the best possible.

[2019-12-13 13:11] kalwalt commented on #6
I think a node app is the most reasonable solution at the moment, much easier than having to clone **artoolkitx**, install all the dependencies (what a panic!) and compile the C++ project . Above all if you are not an experieced C++ this is discouraging...

[2019-12-13 13:51] Carnaux commented on #6
@nicolocarpignoli the node app already does the automation, it only asks to input info if the decoder can't get the EXIF info. But the c++ code has some advanced inputs, e.g the precision of the feature extraction, I will add those options later.

I just uploaded a simple page with the browser version: https://carnaux.github.io/NFT-Marker-Creator-Web/

It is not faster, but for small images is mor

[2019-12-13 14:24] kalwalt commented on #6
@Carnaux i tried with the browser version, yes it seems it takes longer to generate the data set...

[2019-12-13 20:31] Carnaux commented on #11
I will look into those limitations.

[2019-12-13 20:53] Carnaux commented on #11
- file has to have .jpg extension
 - file name has to contain .jpg extension (e.g. on Mac verify that extension is present)

The node app:
`
let imagePath = glob.sync(srcTest +'/**/*.{jpg,JPG,jpeg,JPEG}', {});
`

It only gets an image if it is a .jpg type, so it already verifies file extension.

Browser version:
Added verification on file input. The code exits if it is not a .jpg/.jpeg file.

Also

[2019-12-13 21:33] Carnaux commented on #11
- I have used a black and white image, set NC=1, but does not work (generates .iset files but not recognized). Someone can try this too? Maybe can be something on the NFT app side, maybe missing some parameters.

Added the `detectColorSpace()` function to the browser version and the node app. I tested and it works( tested the marker creation and marker recognition).

[2019-12-13 21:37] Carnaux commented on #11
- after resizing the image (e.g. Using Mac OS Preview tool) the system gives an error

@nicolocarpignoli  Can you post a log about it?

[2019-12-14 01:49] Carnaux commented on #6
I just added PNG support for the node app!! It works with grayscale and RGB/RGBA images.

[2019-12-14 02:28] Carnaux commented on #11
- file has to have .jpg extension

Added PNG support for node app and browser.

[2019-12-14 09:06] kalwalt commented on #6
Great @Carnaux !! Thank you!

[2019-12-14 15:14] jonasjohansson opened #12 "Buf is not defined"
1. Cloned repo
2. Ran npm install
3. Ran node app.js

Received error:

[code]

npm 6.13.2
node 12.13.1

Had a quick look at app.js and seems to be a typo on line 34:

`useJPG(buf);`

buf, should be buff. Runs now. Was there an intention with the "buf"?

[2019-12-14 15:17] jonasjohansson opened #13 "ImageSet generation error"
After "fixing" the 'buf' typo I receive:

[code]

Based on the original pinball image. I had to enter the EXIF data manually. No output generated.

On Mac Mojave.

[2019-12-15 12:20] nicolocarpignoli commented on #6
@Carnaux does it make sense to close this PR and work directly on specific features, that solves specific issue?

[2019-12-15 12:25] nicolocarpignoli commented on #12
it was clearly a typo, created a trivial PR to fix this

[2019-12-15 12:26] nicolocarpignoli commented on #13
I got this error too after fixing the typo error

[2019-12-15 19:00] Carnaux commented on #6
Yes, this was just for general conversation.

[2019-12-15 19:03] #12 closed

[2019-12-15 19:03] #6 closed

[2019-12-15 19:04] Carnaux commented on #13
It is the number of channels. I will look into it.

[2019-12-15 19:15] Carnaux commented on #13
Fixed!

[2019-12-15 19:15] #13 closed

[2019-12-15 23:14] Carnaux commented on #11
Found one more restriction in node app:

Images with width and/or height with 3000px+ generate error:
`TypeError: Cannot read property '0' of undefined`

The decoding library used runs out of memory:
`Allocation failed - JavaScript heap out of memory`

[2019-12-18 12:59] pepperface commented on #10
Hi @kalwalt ... and many thanks for your time. It genuinely is much appreciated :)

In answer to your question, I'm running v8.9.4.

[2019-12-18 13:25] kalwalt commented on #10
@pepperface you are welcome! if you have other issues open another one, we will try to help as much possible...

[2019-12-18 16:52] jonasjohansson opened #15 "Empty EXIF data"
Using the Pinball example, which clearly has EXIF data, I receive this message: "The EXIF info of this image is empty or it does not exist. Do you want to inform its properties manually?[y/n]"

<img width="246" alt="Screenshot 2019-12-18 at 17 51 58" src="https://user-images.githubusercontent.com/557050/71106178-23202200-21bf-11ea-9c30-f50b6bbd350c.png">

Any thoughts on why this is? The file has

[2019-12-18 18:13] kalwalt commented on #15
@jonasjohansson this is a good question! Thanks to note this, maybe the code require some specific EXIF data? or the EXIF data in pinball image is not well formed? just thinking...

[2019-12-19 14:59] Carnaux commented on #15
Maybe it doesn't have any relevant information for the decoder, from the print, looks like it is just camera info, and the code doesn't return an error, it returns an empty object.

[2019-12-19 20:19] jonasjohansson commented on #15
Well, the first thing it does ask for when entering manually is the Width and Height, which does exist in the EXIF data. The second question from the Terminal script is the DPI, which I am quite positive also does exist in the EXIF data.

Otherwise, what EXIF data is of any value? Why even request it?

[2019-12-19 20:20] jonasjohansson commented on #15
<img width="697" alt="Screenshot 2019-12-19 at 21 20 01" src="https://user-images.githubusercontent.com/557050/71206647-576e0e00-22a5-11ea-8f2e-2a5efe0441b2.png">

[2019-12-19 20:38] Carnaux commented on #15
It asks for typing the info only if it doesnt find the tags I hard-coded it to look for, or if the EXIF object returns empty, but because the same info can be in different tags, and exist at the same time, some info may not be used, even if you know that they can work, for exemple, the color space can have 3 different tags that basically mean the same thing, in the case of the setting the number o

[2019-12-19 21:39] kalwalt commented on #15
@jonasjohansson can you post the image if it is possible? i would test it.

[2019-12-21 00:36] jonasjohansson commented on #15
It is the default pinball image included in the repo!

[2019-12-21 00:38] jonasjohansson commented on #15
@Carnaux I suppose me raising the issue is due to the pinball example being the file that comes with the repo. If it was any other file, one that I would have produced myself, I wouldn't have reacted as much, but it would be cool to understand in what way the EXIF data should be applied to be read by the reader.

[2019-12-21 13:27] kalwalt opened #16 "FLAGS += ' -s ERROR_ON_UNDEFINED_SYMBOLS=0'; is not needed"
Hi @Carnaux i'm trying to improve the makem.js script i noted that there is the flag:

`-s ERROR_ON_UNDEFINED_SYMBOLS=0`

if you comment out the line
https://github.com/Carnaux/NFT-Marker-Creator/blob/60f5fc7987411459a049877521b2d5e2032b498e/tools/makem.js#L115

the code compile fine, probably some sources are not needed as the **AR**, **ARICP**, **ARMulti**
that sould be added by this part of the

[2019-12-21 13:37] kalwalt commented on #16
With the optimization flag  **-O3** the lib is 996,2 kb  with the **-Oz** became 926,7 kb.

[2019-12-21 14:24] Carnaux commented on #16
The undefined symbols flag can be disabled, it was just for dev, but the memory growth is used by the browser version. Nice optimization, I never tried -Oz

[2019-12-21 14:29] kalwalt commented on #16
ok thanks for the infos about the memory growth option, i am preparing a PR for this

[2019-12-21 14:33] kalwalt commented on #16
I will do also that little mod for the **AR** sources :smile:

[2019-12-21 14:49] Carnaux commented on #16
Thanks!! :tada:

[2019-12-21 14:50] kalwalt commented on #16
Probably also other source files are not needed for the compilation, i will investigate on this. Maybe for another PR.

[2019-12-22 09:47] nicolocarpignoli commented on #11
in the meantime, we can catch this error with try/catch and log this very thread (like " look at issue #11 on repository" with URL). At least we will avoid new issues raising for the same problem.

[2019-12-22 14:22] #16 closed

[2019-12-22 16:48] nicolocarpignoli commented on #11
PNG support seems to work as it does not give error on the node app side, but when I use the descriptors the image is not recognised.

Anyone has been able to make PNG image work?

[2019-12-22 16:54] kalwalt commented on #11
i didn't tried but which image do you useD to test ( width, height )?

[2019-12-22 17:27] Carnaux commented on #11
I tested now with this [image](http://www.clker.com/clipart-49739.html) and this [example](https://github.com/kalwalt/jsartoolkit5/blob/fixing-nft/examples/nft_improved_worker/main_threejs_worker.html) from the fixing-nft branch, and it works.

[2019-12-22 17:29] #15 closed

[2019-12-22 20:51] nicolocarpignoli commented on #11
it's working yes, we have to keep in mind that width, height and dpi has to be changed also on fixing-nft (jsartoolkit5) files, where NFT data are loaded.

[2019-12-22 22:28] Carnaux commented on #11
Sorry, I didn't understand, change width, height and dpi on the example?

[2019-12-22 22:32] nicolocarpignoli commented on #11
see here: https://github.com/kalwalt/jsartoolkit5/blob/fixing-nft/examples/nft_improved_worker/threejs_worker.js#L6

but honestly, my test was not robust. Have to run a more robust test to see if those data are required to be adapted and used.

@Carnaux if you have not changed them, and your image has different width/height/DPI than the pinball one, I guess those parameters are not mandatory.

[2019-12-22 23:27] Carnaux commented on #11
I see now! Sorry :smile: I didnt change them, just the URL. I believe they are just to position, scale and draw a 3d object on top of the marker image

[2020-01-03 15:05] kalwalt opened #21 "Using the flag '-s USE_LIBJPEG'"
Recently we merged this PR https://github.com/kalwalt/jsartoolkit5/pull/13 Into my branch fixing-nft because by emscripten **v1.38.31** libjpeg It can be included in the project simply with the flag `-s USE_LIBJPEG` . We also strongly suggest to use the Docker container to build the jsartoolkit5 project. Because  the NFT-Marker-Creator is based in part on jsartoolkit5, it is recommended to do the

[2020-01-06 14:32] kalwalt commented on #21
Regarding this topic see this issue https://github.com/kalwalt/jsartoolkit5/issues/12

[2020-01-06 15:11] kalwalt opened #23 "Developing a desktop app with electron"
@Carnaux @nicolocarpignoli At this time we can use the app as a command line tool and in a browser with https://carnaux.github.io/NFT-Marker-Creator-Web/ but what about developing a desktop app based on [electron](https://electronjs.org/) ? or with another framework?

[2020-01-06 15:36] #21 closed

[2020-01-06 15:37] nicolocarpignoli commented on #23
Honestly I don't see any point in developing a desktop software for that.
In my opinion a web app is usable from both mobile and desktop. But this kind of app will be launched mostly on desktop,from browser. If someone wants to have more control, like developers, and see debug logs or use more options, it's possible to use the node app from terminal. This is my opinion not a choice 😁

[2020-01-06 16:16] kalwalt commented on #23
ok maybe i will do it as my personal project, but maybe we can improve a bit the browser version, In this sense i would like to help.

[2020-01-06 17:01] nicolocarpignoli commented on #23
I will also help to improve the browser version. It will likely be the preferred one for users.
I will open an issue for that

[2020-01-06 17:07] nicolocarpignoli opened #24 "Web app version"
I think  a good enhancement will be to have a good web app version.

Now the node app version works very good with PNG and JPEG, but many users will likely use the browser one (like the Marker generator for pattern marker of AR.js).

I'd like to open this discussion to understand:

- where is the source code of the web app version? we should include it on the master branch
- how can we make it bet

[2020-01-06 17:11] kalwalt commented on #23
note that for an electron app it is all ready with the browser version, I could develop a parallel project with the https://github.com/Carnaux/NFT-Marker-Creator as a git submodule

[2020-01-06 17:13] nicolocarpignoli opened #25 "Enhance node version"
The node version is very good, but I think that the input/output configuration can be better. Actually, to have two folders and place the image in one is ok but can be annoying, also provided the limitation of having just one image on the input folder.

A little improvement, that in my opinion can enhance the user interaction on the node app and makes it more flexible, would be to use command line

[2020-01-06 17:30] Carnaux commented on #23
The browser version needs a better design, that is responsive and prettier, I got stuck with other project(the plane detection) and forgot to enhance it, sorry. But to build an electron app we can use any of the marker creators, the node or the browser versions, they can be easily adapted, because an electron app is already a static page with node support.

[2020-01-06 17:32] Carnaux commented on #25
Got it, I will change it!

[2020-01-06 17:39] kalwalt commented on #25
@nicolocarpignoli yes these are preferable options!

[2020-01-06 17:41] kalwalt commented on #24
@nicolocarpignoli  the source code for the Web version is here https://github.com/Carnaux/NFT-Marker-Creator-Web

[2020-01-06 17:55] kalwalt commented on #23
@Carnaux no problem at all !! Yes we should enhance it, Interesting your project on plane detection!
As i said if i can i am happy to help and contribute,
Anyway an electron app is based on Chromium so if the browser version works it will work also the electron app...

[2020-01-08 08:07] nicolocarpignoli commented on #24
Ok i'm going to port the web version inside this repo to have them on the same project (they are the same thing but with different interface, basically). And i'm going to enhance design a bit.

[2020-01-08 18:52] #24 closed

[2020-01-10 21:15] Carnaux commented on #25
Updated!

[2020-01-10 21:15] #25 closed

[2020-01-10 21:41] nicolocarpignoli opened #29 "Web version live on Github pages"
Hey @Carnaux do you mind to make the Web version available on Github pages? Ask if you need help but maybe you already know how to do that :)

[2020-01-10 21:58] Carnaux commented on #29
Done! I will delete the other web repo.

[2020-01-10 22:16] #29 closed

[2020-01-11 23:16] Carnaux opened #31 "Calibrating the confidence level"
@kalwalt @nicolocarpignoli @jonasjohansson With the last commit I added a confidence level based on Shannon's entropy equation. To calculate the level( 0 - 5 ) I tested with [this image](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjmkcj61PzmAhUVHbkGHU1wBykQjRx6BAgBEAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FMinimalist_photography&psig=AOvVaw2gVGuTjKqtWFJZ2ZS7LpVH&ust=157887045

[2020-01-11 23:20] kalwalt commented on #31
Interesting feature! IT would be interesting made some examples as user cases to show which images are better and which is not.

[2020-01-11 23:24] Carnaux commented on #31
I'm writing this [wiki page](https://github.com/Carnaux/NFT-Marker-Creator/wiki/Creating-good-markers) to guide the users.

[2020-01-11 23:27] kalwalt commented on #31
Perfect!

[2020-01-12 09:35] pepperface commented on #31
Awesome! Huge thanks, @Carnaux :+1:

[2020-01-12 17:57] nicolocarpignoli commented on #31
this issue can be useful for the wiki: https://github.com/Carnaux/NFT-Marker-Creator/issues/11

after you put those info on the wiki you also may close the issue :)

[2020-01-16 06:56] Carnaux commented on #31
I've just finished the wiki! What do you think? @kalwalt @nicolocarpignoli

[2020-01-16 06:56] #11 closed

[2020-01-16 08:09] kalwalt commented on #31
That Is very good @Carnaux ! I will make a link as i said in the jsartoolkit5 README.md

[2020-01-16 08:11] nicolocarpignoli commented on #31
for me it's super ok!

Just two point:

- maybe there is in general 'too much caution' when talking about "good markers". What I mean is that while reading the Wiki, a common user may think that to create a good marker is hard and complicated, while in general most of the required variables are pretty much satisfied every time.

- we can also add a quick mention to the node generator and web gener

[2020-01-16 08:16] kalwalt commented on #31
@nicolocarpignoli to modify the wiky Just fork It as another repository 😃

[2020-01-16 08:18] nicolocarpignoli commented on #31
yes I know but the proposed methods are not very straightforward to me: https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github

I can propose some change in PVT if @Carnaux has no time for that :) Let  me know

[2020-01-16 08:58] kalwalt commented on #31
Sorry, didn't know of PR complexity for the wiki, probably better suggest changes or send a .zip file.

[2020-01-16 17:28] Carnaux commented on #31
I will write other pages on the wiki later, and I will make the modifications

[2020-01-16 17:46] Carnaux commented on #31
I just added a little bit of text that may help with:

[2020-01-17 23:45] kalwalt opened #32 "A better compression for the exported files."
I am wondering if we can in some way compress the features set files and in this sense we can have a gain in uploading time of all .fset. At the moment i don't know if It is possibile or what technique can be used, but if you know post here your idea.

[2020-01-19 18:41] Carnaux commented on #32
I believe there are some techniques that could reduce a bit the file size, I will research about it.

[2020-02-05 18:03] kalwalt opened #33 "Testing NFT-Marker-Creator with SIMD instructions"
According to this [article](https://v8.dev/features/simd) is possible to compile and build WASM code with SIMD instructions. This could be improve the performances for the NFT-Marker-Creator and maybe require less time to produce a NFT Marker, at least for who want to try this feature. I would try this but not sure if i have the time to do now....

[2020-02-07 16:10] kalwalt opened #34 "Wasm version of NFT-Marker-Creator"
It would be interesting to try a wasm version of the app (node and web). In theory It shouldn't be too difficult but of course we have to test it.

[2020-02-11 20:44] Carnaux commented on #33
@kalwalt interesting, I will looked into it. Sorry for taking a long time to answer :disappointed:

[2020-02-11 20:45] Carnaux commented on #34
Using just wasm?

[2020-02-11 20:51] kalwalt commented on #33
@Carnaux don't worry ! it's also a remider for me or a suggestion for other. I would like to try when i have a bit of time but this need also to compile a WASM version of the lib as stated in the other issue #34 I think that we can have a sensible difference for the time build of the NFT markers with WASM + SIMD.

[2020-02-11 20:53] kalwalt commented on #34
I need to understand this, but i think we should do something already done for the WASM version of jsartoolkit5.

[2020-02-12 18:06] kalwalt commented on #33
I'm testing the SIMD + WASM in this [branch](https://github.com/kalwalt/NFT-Marker-Creator/tree/simd-support) for now i'm getting this error:

`stderr: shared:ERROR: undefined exported function: "_createImageSet"`

if someone want to test remember to use latest-upstream distribution of emscripten.

[2020-02-13 21:30] kalwalt commented on #33
I don't receive this error:
`stderr: shared:ERROR: undefined exported function: "_createImageSet"`
 when i build with the upstream emscripten backend without the SIMD directive. So i suppose is a specific issue with this last. We will see how to solve.
Tested with latest upstream emscripten:

[code]

[2020-02-13 21:34] Carnaux commented on #33
With SIMD the code may be exporting the "_createImageSet" function with a different name or, what I think is more possible, exporting without the underscore symbol. To check that you can console.log the Module variable and check its available methods.

[2020-02-13 21:40] kalwalt commented on #33
It could be, maybe i can do a research on the emscripten docs.

yes but i think i can not acces if the project fails to build.

[2020-02-13 21:50] Carnaux commented on #33
Strange, because the use of  _createImageSet is only in the app.js

[2020-02-13 23:20] #34 closed

[2020-02-16 04:02] Carnaux opened #37 "404 on the nftMarkerCreator_wasm.js and .wasm"
I had to put the libs files inside the docs folder because the configuration of GitHub pages ignores everything outside the docs folder.

[2020-02-16 04:03] #37 closed

[2020-02-17 09:24] itamayo commented on #33
HI, I have been testing and works fine. But it does not improve the master performance. I don't understand well why you want improve JS part of NFT in case of generating marker (on detecting process make sense for me), server as webservice is not enough to do this ? Maybe I am loosing something ...

[2020-02-17 09:55] kalwalt commented on #33
@itamayo you should compare the .min version and the .wasm version. Improving has sense to me just for testing.  Anyway is an experimental feature you need to enable it with a flag in the browser, so i think it is more difficult to release a jsartoolkit5 version with SIMD than a NFT-Marker-Creator with SIMD.

[2020-02-17 11:01] itamayo commented on #33
Wow ! Improvement with flag on is good enough, 2 time faster !! It should help on detecting version ... What do you think about testing SIMD on jsArtoolkit ? How hard would be ?  Do you think I would help ?

[2020-02-17 11:15] kalwalt commented on #33
Which flag? We don't build the libs with SIMD yet. Explain this, please. :smile:

[2020-02-17 11:22] itamayo commented on #33
A ok, .min is not wasm version ... So wasm is 2 time faster than before ?

[2020-02-17 11:33] kalwalt commented on #33
yes are different libs .min the minified lib use asm.js .wasm use Webassembly and should be always faster. I don't know if it is 2 time faster, need to do a good test, but anyway in our opinion is faster. SIMD must be tested only in the webassembly version of the lib because on asm. has no sense. (in the Emscripten docs is discouraged)  As i said i would start with this project because is simpler,

[2020-02-17 11:43] itamayo commented on #33
OK, sorry about my confusion ... I gonna test your branch, lets see what I can do, if can do xD

[2020-02-17 14:44] itamayo commented on #33
I test compilation with SIMD enable and there is not appreciable effect. 960x720 image 72 DPI ~43 seconds. I don't see any way to improve rather than modification of Artoolkit source to run with threads.

This loop
https://github.com/artoolkit/ARToolKit5/blob/master/lib/SRC/AR2/imageSet.c#L73 take more than half time of the process

[2020-02-18 10:20] nicolocarpignoli commented on #31
Hi there!
I have problem in understanding the confidence level.
Two examples:

this image: https://github.com/nicolocarpignoli/nft-images/blob/master/tardis.jpg
IS recognized, and gives this confidence level:
` [----- ] 0.96/5 || Entropy: 4.71 || Current max: 5.17 min: 4.6`

this other image: https://github.com/nicolocarpignoli/nft-images/blob/master/room104.jpg
IS NOT recognized, and gives this c

[2020-02-18 10:39] kalwalt commented on #31
I think that images are ok but maybe the problem is the resolution:
tardis.jpg is  627 kb room104.jpg is 269 kb you should look also the number of imageSet and number of FeaturesPoints and compare both.

[2020-02-18 12:54] Carnaux commented on #31
Strange, I will test it and give you feedback.

[2020-02-18 18:27] Carnaux commented on #31
@nicolocarpignoli I tested both images, and both tracked. The Tardis image got a low score because of the color palette.

[2020-02-18 18:46] nicolocarpignoli commented on #31
Yes it was an error of mine (not regardin marker generator). Marker generator works great. I will only make more clearer the confidence score maybe?

[2020-02-18 18:47] nicolocarpignoli commented on #31
Maybe, if confidence is under a certain treshold (2 points?) we can link on the confidence output the URL of the doc on how to choose better images.

[2020-02-18 20:29] Carnaux commented on #31
I will search for a quick and costless feature detection algorithm, that way it will be more precise

[2020-02-24 13:22] kalwalt opened #38 "Feature request: Downloadable packages."
It will be nice if it will be possible to download the project and the apps as a zip file or a npm package. This would be the preferable action for user that are not used to git and all git commands/procedures.
I'm writing a little tutorial and i'm facing this "problem" that if you want to use the node app you are obliged to install git and run git clone to download the project.

[2020-02-24 23:58] Carnaux commented on #38
You actually can use the "Clone or Download" button in the project page, it already comes in a zip file.

[2020-02-25 10:13] kalwalt commented on #38
@Carnaux yes you are right! i forgot this... but making a tag and a release will let you add also specific package to download, for example:

- a package with only the node app and the required libs.
- a package with only the web app and the required  libs.

so with a wget command you can download the desired package.
I will change my article adding the download option,  i think is much simpler.

[2020-03-02 15:02] kalwalt opened #39 "Feature request: detecting the confidence level at startup on node app."
Actually you can know the confidence level when you finish the marker generation routine. It would be very useful to know in advance at the beginning of the process or with a dedicated command?

[2020-04-04 06:44] GBR-422777 opened #40 "Trying to run app.js as a background process - Express"
I am getting
Assertion failed: you need to wait for the runtime to be ready (e.g. wait for main() to be called)

Any help?

[2020-04-04 08:34] GBR-422777 commented on #40
The problem was I converted the file to a function and tried to run in under a sub process, if you keep the file as is and use a worker_thread it all works fine...

i.e:

const { exec } = require("child_process");
// I overloaded the params with h and w
exec("node ./uploads/utils/raw_app.js -i " + imgSrc + " -h " + height + " -w " + width, (error, stdout, stderr) => {
    if (error) {
        cons

[2020-04-04 08:34] #40 closed

[2020-04-11 20:07] Carnaux commented on #39
Sorry for taking sooooo long to answer. Yes, it can be easily done. I will update it soon!

[2020-04-11 20:27] Carnaux opened #41 "Images with transparency"
@kalwalt @nicolocarpignoli @ThorstenBux did any of you tested images with transparency? I believe they get lower confidence levels because of the 0 alpha values.

[2020-04-11 20:35] kalwalt commented on #39
No problem! Thank you!

[2020-04-11 20:42] kalwalt commented on #41
No i never did before. I think because you track always opaque images has sense to delete transparency, or remove the alpha channel, probably that can be done via code too.

[2020-04-12 06:28] Carnaux commented on #39
@kalwalt Added!

[2020-04-12 06:29] #39 closed

[2020-04-12 06:32] Carnaux opened #42 "Added NFT demo"
@kalwalt @nicolocarpignoli @ThorstenBux I just added a demo that you can use as soon as you finish to generate a marker, can you test it? And of course, any suggestions are welcome!

[2020-04-12 06:37] Carnaux commented on #41
Yeah, the code converts RGBA to RGB, so it transforms the opacity to opaque, but I got to a use case that the image has a transparent background. What do you think about it? If I convert that background to white or black it can heavily interfere with the generation and tracking.

[2020-04-12 08:30] kalwalt commented on #42
It's a nice and useful feature, i will test it! Thank you :smile:

[2020-04-12 08:40] kalwalt commented on #41
This is sure. At least a message in the console that alert the image has transparency asking if you want to procede, and if yes if you want to add a white or black layer ( or gray?). I think this is the smarter idea for now. I always used opaque images for NFT, because are the better, but if someone has a transparent one i think it is a good idea to let the user choice what to do.

[2020-04-12 08:42] kalwalt commented on #39
Perfect! i will test it. :slightly_smiling_face: :iphone:

[2020-04-15 07:02] daiyadove opened #43 "display featureset"
Hi

I want the `dispFeatureSet` feature

It's a good reference when trying to create a good marker image

[2020-04-15 08:31] kalwalt commented on #43
HI @daiyadove i'm working on this feature in another project https://github.com/kalwalt/FeatureSET-Display It is not finished yet, i hope that it will be soon.

[2020-04-15 10:06] kalwalt commented on #42
Hi @Carnaux just tested the node app. It create the markers (i tested the pinball image) but at the end of the process I get this error:

[code]
it seems that is required the folder `demo/public/marker/` i will retry manually creating that folder.
It's nice to see the confidece level at the beginning :smile: ! :

[code]

[2020-04-15 10:07] kalwalt commented on #39
Tested see my comment https://github.com/Carnaux/NFT-Marker-Creator/issues/42#issuecomment-613946168

[2020-04-15 10:18] kalwalt commented on #42
With the `marker` folder all went fine!

[2020-04-15 17:01] Carnaux commented on #42
I will make some adjustments so it creates the folder

[2020-04-15 23:58] daiyadove commented on #43
HI @kalwalt Thank you for the information.

I'm waiting for it to be finished! Good luck!

[2020-04-16 21:04] #41 closed

[2020-04-16 21:05] Carnaux opened #44 "Marker Quality"
@kalwalt  @nicolocarpignoli ThorstenBux So, I was testing with some images of packagings and with the NFT-Marker-Creator it generated ok, found the features, but it didn't track at all, but with the original GenTexData.exe, it works fine, so the quality of the markers generate by this generator are not equal to the original software. Any idea why? @kalwalt I believe we can use your marker visualiz

[2020-04-16 21:24] Carnaux commented on #44
Figured it out! It was the dpi settings! By using 72 as default we use the minimum allowed, but not the natural maximum of the image, so it doesn't use all resolutions possible.

[2020-04-16 21:24] #44 closed

[2020-04-16 21:29] kalwalt commented on #44
@Carnaux yes if you set a low dpi value it will have of course a low quantity of descriptors, so ti will be difficult to be detected and tracked. Unfortunately my https://github.com/kalwalt/FeatureSET-Display is not yet ready, i can't visualize the imageSet but i hope to fix this soon...

[2020-04-16 21:50] Carnaux commented on #44
Yes, I'm now trying to write some code to detect the dpi based on some info of the image. The EXIF readers are too inconsistent, they read a different thing in different attributes 😞

[2020-04-16 22:14] kalwalt commented on #44
Artoolkit lib itself has is own Jpeg readers functions, maybe works better?

[2020-04-16 22:40] Carnaux commented on #44
It is a good idea, i will add some testing to my to-do list. I'm still getting better results with the original .exe, even when i use similar dpi values.

[2020-04-16 23:07] kalwalt commented on #44
In jpeg.c you can find some function for reading/writing jpeg:
https://github.com/artoolkitx/artoolkit5/blob/master/lib/SRC/AR2/jpeg.c
it is based on jpeglib, emscripten has included it.

[2020-04-17 23:56] nukadelic opened #45 "How to design markers to have more accuracy ?"
I have the following marker
![image](https://user-images.githubusercontent.com/6582633/79622111-1f39e780-8140-11ea-93e9-1c6eabfcaf19.png)
but the confidence level im getting is zero, so i made few more tests and added more entropy at each step, but the confidence level stayed at zero
![image](https://user-images.githubusercontent.com/6582633/79622096-10ebcb80-8140-11ea-9162-20a6a26e7e38.png)
now,

[2020-04-18 21:40] Carnaux commented on #45
The first image is as you tried? Same size and all?

[2020-04-18 23:10] nukadelic commented on #45
Here are all images in their original size & quality : https://imgur.com/a/DegnzbF

[2020-04-19 00:04] #43 closed

[2020-04-19 00:08] Carnaux commented on #45
I tested the original image and it got a value of 0.53 entropy, but it works when I displayed it close to the camera, and when i set the dpi to 100(using the node app), it got a little better.

[2020-04-19 00:08] Carnaux commented on #45
The confidence level is going to be reworked soon.

[2020-04-19 00:09] #23 closed

[2020-04-24 01:07] #45 closed

[2020-04-25 00:14] #42 closed

[2020-04-26 11:50] rvigneshw opened #46 "not detecting exif data in image files"
D:\LAB\arjs\nft\NFT-Marker-Creator>node app.js -i  /image/cn.jpg
The EXIF info of this image is empty or it does not exist. Do you want to inform its properties manually?

[2020-04-28 07:22] ThorstenBux opened #47 "Memory issues when creating two NFTs one after the other"
Hi @Carnaux as mentioned I've created a WS version of your marker creator. Code here: https://github.com/augmentmy-world/NFT-Marker-Creator

Now the issue I'm facing is that if I create two markers one after the other I'm getting
[code]
I've seen this in your original version too if you run the Node version locally and create two marker one after the other you run in a similar issue. Any hint high

[2020-04-28 08:04] ThorstenBux commented on #47
found a hack around it you can still see the issue on this branch https://github.com/augmentmy-world/NFT-Marker-Creator/tree/memory-issue

[2020-04-28 12:55] Carnaux commented on #47
Strange, I never got a memory issue when creating multiple markers one after another. I will look into it, maybe there are some optimizations I can make.

[2020-04-28 13:09] Carnaux commented on #46
Unfortunately, the image reader used may not detect the exit but it is an issue with the reader itself. Soon I will add another reader that may work better.

[2020-04-28 22:00] #46 closed

[2020-05-03 09:29] zyadmardini opened #48 "Node Flags Documentation"
Hi @Carnaux, testing out images with different settings applied and would like to request additional information of these parameters and how they might affect the output.

level, sd_thresh, max_thresh, min_thresh, leveli, feature_density.

Would be great if there could be an "advanced" section in the documentation.

[2020-05-03 11:42] Carnaux commented on #48
That's an great idea! I will add it.

[2020-05-11 18:38] TheBricktop opened #49 "Is there a way to create the nft markers in native app, using opencv or similar lib?"
NFT tracker creator is pretty slow at the moment and prone to hangups when the image is not too good or is too big .
What is the description method for creating the nft markers? Is it creating some king of lookup table to speed up recognition?
Is there a way to use other libraries (like opencv or accord.net) to create similar files compatible  with ar.js?

[2020-05-12 07:11] ThorstenBux commented on #47
@Carnaux did you find anything?

On another note. Can it be that all artifacts are linked and use the same name to reference each other? I'm getting this strange error on NFTs which I created using the WebService:
[code]

Any hints highly appreciated.

[2020-05-12 12:30] Carnaux commented on #47
Unfortunately no, i tried generated a bunch of markers one after another, but no errors. The source code is in the Dev branch.

[2020-05-12 12:39] Carnaux commented on #47
Maybe the AWS server provides less memory for processes than required?

[2020-05-12 19:47] ThorstenBux commented on #47
Thanks, I’m not on aws so that is not it. Memory issues happen locally as well. I can probably share a screenshot the next time I run into that.

The naming issue I shared as well is more troubling right now.

[2020-05-12 20:07] Carnaux commented on #49
Unfortunately no, the only other software that I know is the [genTexData.exe](https://github.com/artoolkitx/arunity5/blob/master/bin/genTexData.exe) (Works only on Windows), and the NFT-Creator is a node/web porting of that code. Give the [source code](https://github.com/Carnaux/NFT-Marker-Creator/blob/dev/emscripten/assemble.c) a look, maybe we can figure out some optimization.

[2020-05-12 20:08] #32 closed

[2020-05-12 20:15] Carnaux commented on #47
@ThorstenBux I was getting a similar error when developing the .zft implementation. It was the file content, the cause was the conversion of the compressed data to the original binary data, so it must be something like that.

What happened to me was: the .fset3 was filled with a uint8 array of a string, and not the real uint8 data, when I tried to load it I got a memory issue.

And the error of re

[2020-05-13 01:36] ThorstenBux commented on #47
Thanks @Carnaux I think I got a lead regarding the error.
[code]

[2020-05-13 02:00] Carnaux commented on #47
These files are created by the c code and are stored in the emscripten file system. [Here](https://github.com/Carnaux/NFT-Marker-Creator/blob/dev/emscripten/assemble.c) one of the first line is the filename variable.

[2020-05-13 02:16] ThorstenBux commented on #47
Yes I know but I can’t see them during runtime and whenever I run it in an ExpressJS environment the created markers are not useable 😔. Thought maybe that is a lead.

Do you think you could have a look at the WS code?

[2020-05-13 03:53] ThorstenBux commented on #47
Hi @Carnaux I found the issue with creating the marker. My bad. When I sent the uint8 array over the wire it got broken. It is working now.

I'll keep you posted on the memory issue if I encounter it again.

I also wonder what might happen in a server scenario if the wasm part is being called several times at the same time. Guess I need to set up some stress tests.

[2020-05-13 15:52] Carnaux commented on #47
Nice!! We were in the right lead. That is a good test to do if it is a dedicated server it should handle a good number.

[2020-05-13 19:57] #47 closed

[2020-05-13 19:57] #49 closed

[2020-05-16 14:09] select opened #50 "Demo does not start, Webcam Error"
I created a marker and ran `npm run demo` but I get the following error
[code]
I was able to run AR examples in this browser before. Any hint what the problem could be?

[2020-05-17 00:21] Carnaux commented on #50
Can you try another local server? Maybe it is something with the demo server.

[2020-05-22 14:49] #50 closed

[2020-06-02 13:56] Azleal opened #51 "cannot process image"
hi @Carnaux,  there are some problems when processing images with .jpg or jpeg extension.

1. clone project
2. `npm install`  (node version 13.4.0)
3. copy `https://raw.githubusercontent.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex-image-big.jpeg` to root folder of the project
4. `node app.js -i trex-image-big.jpeg`

after executing this, it says: TypeError: Cannot read prope

[2020-06-03 22:00] kalwalt commented on #51
@Azleal it seems strange to me. maybe an issue with the name of the file? can you try to rename the file and remove all the `-` chars?

[2020-06-03 23:14] Carnaux commented on #51
It's something with the image reader, it cannot read some jpg encodings, but if you open the image on Paint, Gimp, Photoshop(any image editing software), and "Save as" it probable that it will work. This is already on my to do list.

[2020-06-04 01:10] Azleal commented on #51
hi @kalwalt, thanks for your reply, it's strange to me too😄. and I already tried to change the file name to dragon.jpeg, it still does't work.

[2020-06-04 01:18] Azleal commented on #51
@Carnaux, thanks for your reply, it worked by using your method. after save as a png image, the error message didn't show up anymore.

however, I've tried several different images, and the confidence level either 0/5 or NaN/5. let's take the dragon image as an example, if I use the web version to generate, the confidence is 3/5.

should I open another issue for this?

[2020-06-04 01:57] Carnaux commented on #51
That is another thing I'm working on, the confidence level is really inconsistent, that means that your 0/5 images may still work. I hope the new one will be better. Sorry for all inconvenience 😞

[2020-06-05 12:57] #51 closed

[2020-06-08 23:18] UnstoppableN opened #52 "Custom image doesn't display flamingo in demo despite it being tracked"
Hi @Carnaux, I'm trying to create an NFT marker from a custom image.
The image has a rather poor quality (only 1 star) and the flamingo doesn't seem to display when I run the demo.

However when I log "scene.visible" to the console. It returns true when I try to track my image. (along with multiple logs like: "[info] Tracked page 15794384 (max 0).")
Is additional configuration required for a marke

[2020-06-08 23:58] Carnaux commented on #52
Hi! Probably is the Flamingo position, it is relative to the marker size, so the example position is for the Pinball image. Keep change the scale and try other positions.

[2020-06-09 19:27] UnstoppableN commented on #52
Hi @Carnaux, Thank you for your quick response!

I've set the position to 0,0,0 which caused the flamingo to move to the bottom left corner of the pinball image.

But when I retry with my own image, the cube still doesn't show up.
Can the 0,0,0 position be offscreen when the entire image is visible onscreen??

To be able to visualize the location and size a bit better, I've changed the flamingo wi

[2020-06-16 19:46] #52 closed

[2020-08-17 13:50] Dryra opened #55 "RuntimeError: abort(undefined) at Error"
Hello,
Thank you very much for this tool!

I'm having issues creating FeatureSet files using the nodejs variant, the conversion is working up until these lines:
Saving FeatureSet...
[info]   Done.
[info] Generating FeatureSet3...
[info] (4961, 7023) 300.000000[dpi]

Then it crashes with stacktrace:

What I do not quite understand is this line:

`C:\wamp64\www\emscripten\emsdk\NFT-Marker-Creator-de

[2020-08-20 11:33] Carnaux commented on #55
Hey, sorry for taking a long time to answer :/ That's a new error for me, I will look into it. Can you send me the image you're using?

[2020-08-20 11:51] Dryra commented on #55
Hello, no problem!
I will send  the image to your email.

Thank you for your help!

[2020-08-20 15:48] Carnaux commented on #55
Got the same error using 72dpi, I will look into it!

[2020-09-12 10:00] allestaire opened #58 "ImageSet generation error"
There was an error upon running the command it says that `writeStringToMemory is deprecated and should not be called! Use stringToUTF8() instead!` but when I change `writeStringToMemory ` to `stringToUTF8` I got other errors `'stringToUTF8' was not exported`

[2020-10-03 11:32] shubhamraghav1 commented on #47
hi @ThorstenBux how did u resolve this error:
[Warning] [error] Error loading KPM data: error reading data. (artoolkit_wasm.js, line 1)
[Warning] [error] Error reading KPM data from /markerNFT_0.fset3 (artoolkit_wasm.js, line 1)
[Warning] [error] ARToolKitJS(): Unable to set up NFT marker. (artoolkit_wasm.js, line 1)

[2020-10-06 17:42] stevenjmarsh opened #59 "RuntimeError when trying to process a '.jpg' file (node version)"
Hello, and thank you for providing this very useful tool!

I have been able to successfully use the web version of NFT-Marker-Creator to process both '.png' and '.jpg' files.
I can also successfully generate descriptor files from '.png' files with the node version. (NOTE: I have not been able successfully recognize the image for any .png file I've created descriptor files for)

However, I am unabl

[2020-10-06 18:49] kalwalt commented on #59
Hi @stevenjmarsh very weird error! At the moment i have no idea, maybe you can try to remove the exif data (in the image) and try to save again the image. I know that someone had this similar issue with the [NFT-creator-WS](https://github.com/webarkit/NFT-Creator-WS) made by @ThorstenBux. Maybe he can help in someway.

[2020-10-06 18:55] stevenjmarsh commented on #59
Thanks, I will give that a try.

[2020-10-06 19:12] ThorstenBux commented on #59
If you just need a single trackable aka marker you can use this http://nftcreator.tripod-digital.co.nz/

[2020-10-06 19:12] ThorstenBux commented on #59
Otherwise I can also support if you find issues on the Webserver version

[2020-10-06 20:03] stevenjmarsh commented on #59
Thanks @ThorstenBux . I am trying to automate generating the NFT descriptor files, so the node version seems like the best fit at this point. If I do see a need to use the Webserver version in this case and need help, will let you know. Thanks!!

[2020-10-06 21:37] ThorstenBux commented on #59
As a matter of fact I already do that 😊 in a pro version. If you are working on a commercial product and would like to have support or access to the pro version, let me know.

Kind regards
Thorsten Bux

Sent from my iPhone

On 7/10/2020, at 9:03 AM, Steve Marsh <notifications@github.com> wrote:

﻿

Thanks @ThorstenBux<https://eur06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FT

[2020-10-09 20:32] stevenjmarsh commented on #59
@ThorstenBux , @kalwalt  When using the node version, I was able to successfully generate descriptor files from a .png image. However, the image is not recognized.  I've tried the 'npm run demo', as well as an Image recognition app I wrote that works when using descriptor files generated from the Web version.

So, ultimately, I'm not able to successfully use the node version with jpg or png files.

[2020-10-09 21:56] kalwalt commented on #59
I will try to create the descriptors from the image you provided in the first comment. Can't say so much at the moment,

I think yes, it should work but maybe @Carnaux  can say something more. I don't think you are using a poor image.

[2020-10-12 20:32] juliangoacher commented on #59
I had this problem after editing a jpeg using Preview on MacOS, was able to get around it by opening and saving the image from a different image editor (e.g. Gimp).

[2020-11-02 21:21] Sk031397 opened #61 "Confidence level not calculating"
I am trying to calculate the confidence level for a small png file, I have tried using the online generator as well as node version but both have outputted all my images as 0 confidence unless I manipulate the shannon entropy

[2020-11-05 22:19] Cocktails0921 commented on #59
I have got the error such as the following image when generate from jpg file to NTF using node generate.
![Capture](https://user-images.githubusercontent.com/58881761/98302695-d7a17d00-1ff7-11eb-84fb-b6d00dada84e.PNG)
please let me know why this error happen.
png file generate to NTF is perfect, but jpg file generate has some issue, i think.

[2020-11-22 10:38] ragavendranbala opened #62 "QR Images are not working"
Tied creating NFT marker using a genrated QR code, it showing the confidence level as 0 star. But the Same QR having 5 star Rating on Vuforia's Image target creator. Kindly help me to create the QR as NFT marker. Thanks in advance

![Screenshot 2020-11-22 155928](https://user-images.githubusercontent.com/32410475/99901463-f3d23900-2cdc-11eb-8bbd-e95fad3c2445.png)
![Screenshot 2020-11-22 155912](ht

[2020-12-02 07:22] wys050311 opened #63 "Error when using"
![158 OP 89UQ0P4TU@EF(GCC](https://user-images.githubusercontent.com/54499428/100841411-36043300-34b2-11eb-9f52-51bf60770eb7.png)

[2020-12-16 20:14] ragavendranbala commented on #59
#64

[2020-12-16 20:16] ragavendranbala commented on #61
@Sk031397 How to manuplate that entropy? any docs available?

[2020-12-16 20:20] ragavendranbala commented on #63
Kindly check PR #64

[2021-01-09 17:40] t2elzeth commented on #10
Hi there. I got the same error while trying to create NFT markers using node app.

Here is the entire folder I was working with: (More info such as steps I had done before getting error in README.md file in repo)
`https://github.com/t2elzeth/nft-marker-creator`

[2021-01-12 17:17] patrickoshaughnessey commented on #31
@Carnaux did you ever find anything that is a more reliable measurement of the confidence? We are also having an issue with this.

[2021-01-13 09:45] Makio64 opened #65 "More information about the parameters ( level / leveli )"
Hi,

the documentation for getting started is great but some paramaters are really dark to me like level and leveli ?

I would love to have more information about what they are doing, thanks!

the most dark parameters :

[code]

[2021-01-14 03:20] mchangxe commented on #31
Hi guys, thanks for adding in this feature, but I don't think its working as intended. Other than the pinball picture, any picture i upload onto the web version of the tool gives back 0/5 confidence (5 stars all greyed out). Any ideas?

[2021-01-16 13:33] bnn1 opened #66 "Error on processing jpg images: abort(TypeError: Cannot read property 'value' of undefined) at Error"
When running `node app -i imgname` I get a big fat error that ends with the following:

[code]
node version: 15.5.1
manjaro v20.2.1
kernel 5.10.2.2-manjaro

I've tried two jpg images: one is a random internet image and the other is an image of myself.
png files are processed without errors.

upd. I found that big error text is just the code of the NftMarkerCreator_wasm file...
The actual error is:

[2021-01-16 13:47] bnn1 commented on #66
I found that big error text is just the code of the `NftMarkerCreator_wasm` file...
The actual error is:
[code]
Can't modify initial post because browser window freezes when I'm trying to do so.

[2021-01-17 03:22] Carnaux commented on #31
Hey guys, I'm totally out of time, so I can't solve it now, when I get some free time I can try to solve it

[2021-01-21 08:52] MaXiaoMa commented on #66
The error occurred in the following code (app.js line:319):
[code]
because the metadata object only has a few tags , no XResolution, no YResolution....
[code]

[2021-01-24 03:17] williamqian commented on #65
I agree too

[2021-01-25 08:38] ezegyfa2 opened #67 "Nft pattern creation is slow with nodejs marker creator but fast with web marker creator"
**Do you want to request a feature or report a bug?**

bug

**What is the current behavior?**

If I try to create a marker from a 2000x2000 hiro image it takes 10min with nodejs version (https://github.com/Carnaux/NFT-Marker-Creator) but only a few second with web version (https://carnaux.github.io/NFT-Marker-Creator/)

**If the current behavior is a bug, please provide the steps to reproduce.**

[2021-01-25 10:39] DeveloperHashmi commented on #66
I'm also getting this error while making marker of jpg image.
![image](https://user-images.githubusercontent.com/51310612/105695071-a619bd00-5f27-11eb-815e-e3a89ac68f55.png)

[2021-02-05 08:28] dolgong2 opened #68 "duplicate url with jsartoolkit5"
Trying to use both NftMarkerCreator and jsartoolkt5 in a single web page.

both project need to specify wasm url like
<script type='text/javascript'>
          var artoolkit_wasm_url = './lib/NftMarkerCreator_wasm.wasm';
</script>

<script type='text/javascript'>
      var artoolkit_wasm_url = '../build/artoolkit_wasm.wasm';
</script>

Error on console
Uncaught RangeError: Maximum call stack size

[2021-02-08 09:50] subhamoydeb45 opened #69 "read file error after creation of three data set"
when we create  normal html file create data read properly but when we create fset,iset file via node code,  it is create successfully but we cant read that file,[](url)

[2021-02-25 11:47] abhishekQ opened #70 "sometimes stuck at "Loading, please wait..." screen and marker not working"
I am using node version marker creator. I have tested on different devices like android and IOS.  In some devices stuck at "Loading, please wait..." screen, and some other devices after 'Loading of NFT data complete' marker scanning and sometimes marker not scanning. Can anyone please tell me how can I solve this issue?

[2021-03-13 18:12] hungntv commented on #70
Me too. I used the image in the tutorial https://github.com/Carnaux/NFT-Marker-Creator/wiki/Creating-good-markers
But it stuck and nothing happened.

Anybody here?

[2021-03-26 16:17] lukemcredmond opened #71 "the fset/iset files created from web are different from node"
Hi Guys

looking for any assistance,

i tried running the node.js application and provide it with a png left arguments at the default.
it produced 3 files but when i run them in the demo they are not be detected.

i then provided the same png to the website replaced the nodejs generated fset/iset files with the ones from the website and they are been detected.

please see attached, the nodejs ones

[2021-04-18 20:32] Carnaux commented on #71
Hey, yeah, i've noticed that, i suspect that is a memory management issue. I will look into that in the future

[2021-04-18 20:32] #71 closed

[2021-04-18 20:34] Carnaux commented on #68
You will need to compile both into one file using emscriten, use the nft-marker-creator dev branch as template.

[2021-04-18 20:34] #68 closed

[2021-04-18 20:36] Carnaux commented on #67
Usually, the web version defaults to 72 in the dpi value, which makes the process faster, the node version has more steps to detect the dpi value that comes with the image. If that's not the case, I will add it to the future tasks.
.

[2021-04-18 20:37] #67 closed

[2021-04-18 20:38] Carnaux commented on #66
the EXIF reader was updated, so please, check the new update to see if those errors still happening,

[2021-04-18 20:39] #66 closed

[2021-04-18 20:40] Carnaux commented on #65
I will add descriptions to the flags in a new update soon.

[2021-04-18 20:40] #65 closed

[2021-04-18 20:41] Carnaux commented on #63
The new update with the changes made by @ragavendranbala should fix that, if still happening let me know.

[2021-04-18 20:41] #63 closed

[2021-04-18 20:42] Carnaux commented on #62
The current confidence level isn't the best, I'm working on a new one.

[2021-04-18 20:42] #62 closed

[2021-04-18 20:43] Carnaux commented on #61
Yeah, the current confidence level is based on image entropy, but that didn't work :/ I'm working on a new one.

[2021-04-18 20:43] #61 closed

[2021-04-18 20:44] #59 closed

[2021-04-18 20:46] Carnaux commented on #58
The code structure has to change a bit to use 'stringToUTF8', thats why I didn't change it yet.

[2021-04-18 20:46] #58 closed

[2021-04-18 20:46] #48 closed

[2021-04-18 20:47] Carnaux commented on #55
If possible, check the new update, it should fix that.

[2021-04-18 20:47] #55 closed

[2021-04-19 15:07] Carnaux opened #72 "Bugs with new update"
Errors on node app:
- Cannot read property description
- Invalid file signature

Errors on Web:
- Not possible to open the NFTtoZFT page(Path issue)

[2021-04-19 18:34] NANICYB opened #73 "Error"
Hi carnaux, I have error while I run the command you gave. How could I resolve this?

[2021-04-19 22:56] Carnaux commented on #73
Which command and which error?

[2021-04-20 02:27] cybersera commented on #73
node app.js -i PATH/TO/IMAGE

[2021-04-20 02:39] cybersera commented on #73
![IMG_20210420_080910](https://user-images.githubusercontent.com/59509865/115329317-c4eac100-a1af-11eb-9c07-65d86cde9d8a.jpg)

[2021-04-20 20:25] Carnaux commented on #73
Did you re-run 'npm install'? That should fix it.

[2021-04-21 03:10] cybersera commented on #73
Yes

On Wed, Apr 21, 2021, 1:55 AM Daniel Fernandes Gonçalves de Oliveira <
***@***.***> wrote:

[2021-04-21 03:33] cybersera commented on #73
could you send any video that with step by step plz?

[2021-04-21 17:26] jonnypage opened #74 "Documentation of the advanced options"
I was wondering if we could get a brief rundown on what each of the advanced options does, I'd love to play around with them but I have no idea what each of them does.

Thanks!

[2021-04-23 20:00] Carnaux commented on #74
Hi! I'm planning to release a more complete description of them in the next week or some time soon.

[2021-04-23 20:02] Carnaux commented on #73
The only way I was able to get a similar error is to remove that library from the node_modules folder, but it was solved by deleting the folder and running "npm install" again.

[2021-04-23 20:03] Carnaux opened #75 "Markers warping the models"
I noticed that when you turn the image from vertical to horizontal the model rotates, but warps the model. I'm investigating it.

[2021-04-23 22:54] #74 closed, assigned to nobody

[2021-04-27 05:21] jang038 opened #76 "NFT marker creator web version does not display confidence level"
The new revised NFT marker creator on web does not show the confidence level of image before conversion. Is it possible to add it in so we can ensure our images are good before converting?

[2021-05-15 07:21] scaleupjordan commented on #76
Yes!! This is very confusing as the new options are not being explained. Will there be documentation coming up on how to assess the confidence level?

[2021-05-18 13:25] TadghW opened #77 "Can't create feature/image sets - JavaScript heap out of memory."
Running into an issue where every time I try to generate an NFT set from an image using the Node.js app, the application functions as normal, generates features for 76 to 0.736 DPI images, before spitting out the following error:

    emscripten_realloc_buffer: Attempted to grow heap from 536870912 bytes to 1073741824 bytes, but got error: RangeError: WebAssembly.Memory.grow(): Unable to grow inst

[2021-05-18 16:05] kalwalt commented on #77
Hi @TadghW thanks to post this issue. Which device do you used for generating the NFT marker? What OS and node version?
If think the image is ok, i see that has a lot of detail, i will try to build with my own desktop machine.

[2021-05-19 01:39] TadghW commented on #77
Hello again @kalwalt! Thank you for responding. I'm using Windows 10 Build 2004, and Node.js v14.16.1 on my computer, which has a Ryzen 7 1700 and 16GBs of RAM.

[2021-05-19 17:07] kalwalt commented on #77
@TadghW the image is wide in pixels, both on width and height, but with a low dpi value (72) that is bad because you will get weird results while tracking. It's recommended at least 200 dpi, optimum 300 dpi.  I suggest to you to reduce a bit the dimensions of the image and increasing the dpi in your favourite Image software. I tried with our [NFT_Marker_Creator](https://www.webarkit.org/tools/NFT_

[2021-05-20 13:04] TadghW commented on #77
@kalwalt any idea what I might be able to do to fix the memory allocation issues I have with Node? I have a lot of compute power available and am happy to spend the time rendering out the full image in 300dpi. My only real problem is the crashing when I try with the aforementioned messages.

Regardless, I'll compress the image, user a higher DPI value and start again. I suspect that may fix it :)

[2021-05-20 17:31] kalwalt commented on #77
I would test it again but i'm out of my desktop pc. Whith my old notebook i can not do so much. I highly reccomend to you to try to build it with 300 DPI. A 72 DPI NFT marker is not so useless. Yes, maybe could also fix the issue...

[2021-06-16 08:33] taime opened #79 "Setting to change tracking tolerance?"
Is there any setting, that change tolerance of image recognition?
I want to setup better image recognition even if it cause a lot false positive triggering recognition...
**Look at the video with example of problem.**

https://user-images.githubusercontent.com/1723871/122280059-73318f00-cef1-11eb-8736-2a464421380f.MP4

Is it possible?

[2021-06-18 00:58] Carnaux commented on #79
Hey, yeah, you can create a marker with more density and with more levels, check out the flags on the node app, for now, there is no description about them(i will add, but I don't know when), but you can try to read the code to get some ideia, also you can change jsartoolkit5 configurations and build a custom one with some config changes so you can track with steeper angles.

[2021-07-23 07:43] jrDev1 commented on #76
Would like an update to this too please!

Thanks,
jrDev

[2021-07-27 12:38] #73 closed

[2021-07-27 12:40] #79 closed, assigned to nobody

[2021-07-31 15:18] Happypig375 opened #80 "Fatal JavaScript invalid size error 169220804 | Data pointer is NULL"
The two errors in the title are two separate messages. They are for two different images.

Input images:
[scan.PNG](https://user-images.githubusercontent.com/19922066/127744288-b416517a-9e1d-4aec-86b7-842d7e622f7c.PNG)
[scan2.PNG](https://user-images.githubusercontent.com/19922066/127744261-4a9db15f-566e-4c99-8b2a-8c3f9a3cd8d9.png)

Error for scan.PNG:
[code]
Error for scan2.PNG:
[code]
Full log:

[2021-07-31 15:28] Happypig375 commented on #80
The most infuriating thing about this is how it crashed with 6 hours of wasted computation 😢

[2021-07-31 16:14] Happypig375 opened #81 "artoolkit seems to be compiled under Debug and not Release"
From the error in https://github.com/Carnaux/NFT-Marker-Creator/issues/80, it's shown that the `ASSERT` of https://github.com/artoolkitx/artoolkitx/blob/master/Source/ARX/KPM/FreakMatcher/framework/image.cpp#L149 is called. This is a debug-mode only call, and by compiling it to Release instead, it's a potential 10x speed boost. Please compile it under Release.

[2021-07-31 16:19] Happypig375 commented on #80
This should be solved by better input checking and error messages.

[2021-08-02 06:41] Carnaux commented on #81
Hey, thanks a lot for that, i will add that to the next update!

[2021-08-21 01:48] Carnaux commented on #76
Hi! I'm developing a more reliable confidence level, soon i will add more documentation and features!

[2021-08-21 01:48] #76 closed, assigned to nobody

[2021-09-20 15:48] andreyrd commented on #38
Publishing this as an npm module would be amazing

[2021-10-08 03:15] andersontan523 commented on #70
I faced the same problem. Tried reloading the website and waited for a few seconds before it worked. But when i changed the nft source url code then no matter what i did it was stuck at the "loading please wait..." screen.

[2021-10-08 14:26] GiovanniTurri commented on #70
From my experience, as I had the same issue, I solved creating a folder and inside it an other folder with all the files, so `url='folderWithIndexHtml/FolderWithNFTfiles/nameOfMarker'`
So in my web server I have this structure:
root
-/folderWithIndexHtml/
--index.html
--FolderWithNFTfiles/
---nameOfMarker.fset
---nameOfMarkerfset3
---nameOfMarker.iset
---scene.glb

So to wok you need to go to www.

[2021-10-13 23:42] fafrd commented on #80
For anyone visiting this page from Google... I fixed `Fatal JavaScript invalid size error` by using the correct version of Node. I was on v16.11 when the code was building with something much older, v10.19

[2021-11-02 20:05] Mohibur-CoU-ICT commented on #80
I am getting the same error message in node.js while working with the Rest API.
The error message I have got is:
[code]
I don't know how to solve this.

[2021-11-24 18:15] jwagsters commented on #74
Please, please, please do this!  Even if it's not super-detailed documentation, a few paragraphs would really help to get a better idea of what is happening when flags and settings are changed.

[2021-11-24 19:19] jordanahu commented on #80
I got this same error whilst implementing addAt(node, index) method for a linked list.

[2021-12-13 11:51] clebuchegger commented on #80
downgrading node to version 10 helped me too

[2022-01-22 02:56] devangpawar17 opened #83 "This tool is not working as expected images are not converted to nft in web as well as node version"
The site hangs and the node version gets stuck at some point the pinball image is also not converting
![IMG_2022-01-21-19-51-56-689](https://user-images.githubusercontent.com/80813053/150622237-fbbcfbea-1c14-41c8-9589-04ee75bc91a7.jpg)

[2022-01-22 18:03] giaaaacomo opened #84 "confidence meter not appearing?"
hi, this is the first time i try to use nft markers but the meter doesn't show up. was it removed? has it even been implemented in the web nft marker creator?

[2022-01-29 23:06] IgorDePaula opened #85 "404 error - not work"
![Captura de tela de 2022-01-29 20-05-36](https://user-images.githubusercontent.com/2833993/151680406-bf81f08e-eff5-4a5b-b92e-dff56aa961d8.png)

[2022-02-16 19:10] brianpmaher commented on #84
I'm seeing this same issue

[2022-03-13 11:46] imanirajdoost commented on #84
Same here

[2022-03-13 12:01] imanirajdoost commented on #70
I did this but no luck, still no solution?

UPDATE: I think it bugs in the recent version, I used version `3.3.3` and it's working now. So if anyone is trying to make it work in the latest version you can use

`<script src="https://raw.githack.com/AR-js-org/AR.js/3.3.3/aframe/build/aframe-ar-nft.js"></script>`

for AFrame version.

[2022-04-25 09:25] TomLecamus opened #86 "NFT Size difference"
I've been using NFT markers in junction with PlayCanvas but generating the markers on my image now results in 10x smaller files that don't work nearly as well as they did back when they were first generated on October 28 2021.

I'm fairly certain this is something that could be fixed by tweaking the values on the Website or the nodeAPP but the wiki doesn't explain these parameters.

Here are the o

[2022-05-25 06:25] frontandrew commented on #80
I had same prolem. It was resolved by reinstall `node_modules`.

[2022-07-06 08:52] RepSklvska commented on #74
So where can I see that description now? Much grateful if I can read it

[2022-09-06 04:42] ghost opened #87 "TypeError: fetch failed when running app.js"
Hello. I've cloned the repository, installed the required node modules and as I tried to run "node app.js -i image.jpg", an error gets thrown as follows

TypeError: fetch failed
TypeError: fetch failed
C:\Users\admin\Desktop\Desktop\NFT-Marker-Creator\libs\NftMarkerCreator_wasm.js:1
(Probably the whole of wasm.js file printed here)
RuntimeError: abort(TypeError: fetch failed) at Error

Is there so

[2022-09-06 16:30] aliu292 commented on #11
I found another constraint, it seems like it needs to be RGB form not CMYK,

[2022-10-27 14:55] antokhio opened #88 "[error] node app.js -level=1 results RuntimeError: abort(RuntimeError: memory access out of bounds) at Error"
Hi, so i came across this wonderful tool, and i wanted to play a bit with settings, however, adding any parameter but `-i` results exception:
[code]

even if i run:
[code]

I suspect this something to do with windows system, i try with PowerShell 7.2 and git bash results are same

[2022-10-28 13:36] kalwalt commented on #88
Hi which node version are you using?

[2022-10-28 15:42] albjeremias commented on #88
maybe make a Dockerfile for this? :) @antokhio

[2022-10-28 17:11] antokhio commented on #88
[code]

[2022-10-29 14:38] obid2192 commented on #80
# Fatal error in , line 0
# Fatal JavaScript invalid size error 170226952
#
#
#
#FailureMessage Object: 00000011B9FFE6D0
 1: 00007FF7BA470AAF v8::internal::CodeObjectRegistry::~CodeObjectRegistry+124015
 2: 00007FF7BA38B55F node::TriggerNodeReport+38223
 3: 00007FF7BB06E392 V8_Fatal+162
 4: 00007FF7BABED205 v8::internal::FactoryBase<v8::internal::Factory>::NewFixedArray+101
 5: 00007FF7BAA967C3 v8

[2022-11-03 06:30] obid2192 commented on #80
help me

[2022-11-23 00:47] Bug-Reaper commented on #80
[code]
Same error with both node `v19.1.0` && node ` v16.18.0`.

[X] - Fresh `npm install` did not fix.

[2022-11-23 17:46] SwaggerNiels opened #89 "SOLVED: What are good settings?"
- starting from the examples in https://github.com/webarkit/ARnft/tree/master/examples
- using the pinball.jpg everything works.

I use NFT creator (web/node.js) and use a high confidence picture.
- upload the 3 files directly to a folder of ARnft (examples/DataNFT)
- replace the path in one of the examples with my own
- and check if i can detect it

It detects it as outputted in the console but t

[2022-11-24 12:27] kanzaky opened #90 "NOT WORKING"
ode : The term '
ode' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ `node --trace-warnings
+ ~~~~~
    + CategoryInfo          : ObjectNotFound: (
ode:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundE

[2022-11-27 14:18] SwaggerNiels commented on #89
Found how to get these markers to work:
Just set the change the app.js script all dpi default values: "72" to "120"
and run it on a picture that actually has 120 dpi (you can use ctrl-R in paint.net to set the dpi/pixels-per-inch to 120)
used this command:
node .\app.js -i .\my_image.jpg -dpi=f -max_dpi=120 -min_dpi=20

Now it works!
This took me a long time to figure out though. Its too bad that

[2022-11-27 14:18] #89 closed, assigned to nobody

[2022-11-28 20:30] kalwalt commented on #89
@SwaggerNiels i think Daniel @Carnaux is very busy lately and me too, so sometimes we have no time to answer.
But i suggest to you to use 300 dpi for a NFT marker, if an image doesn't provide a dpi value add it manually in you preferred image editor.
Daniel created also a wiki page for [Creating-good-markers](https://github.com/Carnaux/NFT-Marker-Creator/wiki/Creating-good-markers)
You can also ta

[2022-11-28 21:15] SwaggerNiels commented on #89
Indeed the high dpi seemed to work, i just got impatient.
Thank you for replying!